form.formulari {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 30px 40px;
    width: 300px;
}
body {
    align-items: center;
    background: #f2f2f2;
    display: flex;
    font-family: "Open Sans", sans-serif;
    height: 200vh;
    justify-content: center;
}
.camp {
    margin-bottom: 25px;
    position: relative;
}
.camp label {
    color: #333;
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    position: relative;
}
.camp input[type="text"] {
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    padding: 10px;
    transition: border-color 0.3s ease;
    width: calc(100% - 24px);
}
.camp input:hover {
    border-color: #8a0b0b;
}

.Botom{
    background-color: #8a0b0b;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    max-width: 5rem;
    padding: auto;
    cursor: pointer;
    transition: all 0.3s ease;
}
.Botom:hover{
    background-color: #5e0808;
    transform: scale(1,2)
}
.orden{
    display: flex;
    gap: 1rem;
}