form.formulari {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 30px 40px;
    width: 300px;
}
body {
    align-items: center;
    background: #f2f2f2;
    display: flex;
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    justify-content: center;
}