form.formulari {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 30px 40px;
    width: 300px;
}
body {
    align-items: center;
    background: #dbd4d4;
    display: flex;
    font-family: "Open Sans", sans-serif;
    height: 250vh;
    justify-content: center;
}
.camp {
    margin-bottom: 25px;
    position: relative;
}
.camp label {
    color: #333;
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    position: relative;
}
/*Arreglando los campos*/


.Botom{
    background-color: #8a0b0b;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    max-width: 5rem;
    padding: auto;
    cursor: pointer;
    transition: all 0.3s ease;
}
.Botom:hover{
    background-color: #5e0808;
    transform: scale(1,2)
}
.orden{
    display: flex;
    gap: 1rem;
}
.cambio1{
    margin-top: -5rem;
    background-color: red;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: sticky;
}
.cambio1 a{
    text-decoration: none;
    color: black;
    display: flex;
    margin-top: -50rem;
    background-color: rgb(162, 35, 35);
    margin-right: -9rem;
    justify-content: center;
    border-radius: 2rem;
}



/*Imputs personalizados*/
.camp input[type="text"] {
    border: 2px solid #3445db;
    border-radius: 6px;
    font-size: 16px;
    padding: 10px;
    transition: border-color 0.3s ease;
    width: calc(100% - 24px);
}
/*Imputs personalizados email*/
.camp input[type="email"]{
    border-radius: 1rem;
    border: 2px solid #161617;
    font-size: 16px;
    padding: 10px;
    transition: border-color 0.3s ease;
    width: calc(100% - 24px);
    box-shadow:0px 1px 7px 8px #b4b4b4;
}
.camp input[type="email"]:hover {
    border-color: #8a0b0b;
    transform: scale(1,1);
}
/*Imputs personalizados telefono*/
.camp input[type="tel"]{
    border: 2px solid #161617;
    font-size: 16px;
    padding: 5px;
    transition: border-color 0.3s ease;
    width: calc(100% - 24px);
}   
.camp input[type="tel"]:hover {
    border-color: #64d021;
    transform: scale(1,1);
}
/*Imputs personalizados Edad*/
.camp input[type="number"]{
    border: 2px solid #161617;
    font-size: 16px;
    padding: 5px;
    transition: border-color 0.3s ease;
    width: calc(100% - 24px);
}
.camp input[type="number"]:hover {
    border-color: #12a4c5;
    transform: scale(1,1);
}
/*Imputs personalizados Fecha de nacimiento*/
.camp input[type="date"]{
    border: 2px solid #161617;
    font-size: 16px;
    padding: 5px;
    transition: border-color 0.3s ease;
    width: calc(100% - 24px);
}
.camp input[type="date"]:hover {
    border-color: #1d1ab9;
    transform: scale(1,1);
}
/*Imputs personalizados Franja horaria*/
.camp input[type="time"]{
    border: 2px solid #161617;
    font-size: 16px;
    padding: 5px;
    transition: border-color 0.3s ease;
    width: calc(100% - 14px);
}
.camp input[type="time"]:hover {
    border-color: #181818;
    transform: scale(1,1);
}
/*Imputs personalizados color preferido*/
.camp input[type="color"]{
    border: 2px solid #161617;
    padding: 1px;
    transition: border-color 0.3s ease;
    
}
.camp input[type="color"]:hover {
    border-color: #181818;
    transform: scale(1,1);
}
/*Imputs personalizados Aficiones*/
.camp input[type="checkbox"]{
    transform: scale(1.5);
    cursor: pointer;
    margin-right: 10px;
}
/*Imputs personalizados Nivel de Estudios*/
.camp input[type="radio"]{
    transform: scale(1.5);
    cursor: pointer;
    margin-right: 10px;
}

/*Imputs personalizados País*/
.camp select{
    border: 2px solid #161617;
    font-size: 16px;
    padding: 5px;
    transition: border-color 0.3s ease;
    width: calc(100% - 24px);
}

/*Imputs personalizados comentarios*/
.camp textarea{
    border: 2px solid #161617;
    font-size: 16px;
    padding: 5px;
    transition: border-color 0.3s ease;
    width: calc(100% - 24px);
}

    /*Editemos los cuadros según toque*/
/*Este primero focus le añado animacion a mis cuadros*/
.camp input:focus,
.camp select:focus,
.camp textarea:focus {
    border-color: rgb(89, 150, 255);
    box-shadow: 0 0 8px rgba(89, 150, 255, .6);
    transform: scale(1.2);
    outline: none;
    transition: 
    transform 0.3s ease;
}
/*Ahora arreglemos los campos invalidos y validos*/
.avís {
  bottom: -18px;
  color: var(--colorError);
  font-size: 12px;
  left: 4px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 0.4s ease;
}
.avís1 {
  bottom: -18px;
  color: var(--colorError);
  font-size: 12px;
  left: 4px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 0.4s ease;
}

/* Mostra el missatge quan el camp és invàlid */
.camp input:invalid:focus ~ .avís,
.camp input:invalid:not(:placeholder-shown) ~ .avís {
  opacity: 1;
}
.camp input:valid:focus ~ .avís1,
.camp input:valid:not(:placeholder-shown) ~ .avís1 {
  opacity: 1;
}
/*Arreglamos los required*/
.camp input:required {
    border-left: 4px solid #e74c3c;
}

/*Arreglamos los checkbox*/
/* estil base per checkbox i radio */
.camp input[type="checkbox"],
.camp input[type="radio"] {
  accent-color: var(--colorPrincipal);
  cursor: pointer;
  height: 14px;
  transition: transform 0.2s ease;
  width: 12px;
}

/* petita animació */
.camp input[type="checkbox"]:active,
.camp input[type="radio"]:active {
  transform: scale(1,5);
}


